@import "colors";

.alert, div.alert > div {
  font-size: 0.75rem;
  border-radius: 0.8rem;
}

// MOSAIC EXTENDED
div.alert.alert-extended {
  color: darken($mosaic-purple, 20%);
  background-color: lighten($mosaic-purple, 70%);
  border-color: $mosaic-purple;
  position: relative;

  .extended-icon {
    position: absolute;
    display: block;
    content: "";
    background-position: center center;
    background-size: 145%;
    width: 2.5rem;
    height: 2.5rem;
    left: 0.4rem;
    top: 47%;
    margin-top: -1.15rem;
  }
  & > div:first-child::before {
    content: none;
    display: none;
  }
}

// Learning Objectives
div.alert.alert-learning_objectives {
  color: darken($mosaic-green, 20%);
  background-color: lighten($mosaic-green, 54%);
  border-color: $mosaic-green;

  & > div:first-child::before {
    content: '\f19d'; // graduation hat
    color: $mosaic-green;
    font-size: 1.3rem;
    top: -0.4rem;
    left: -2.3rem;
  }

  h3 {
    font-size: 1rem;
    margin: 0.2rem 0 0.3rem;
    color: darken($mosaic-green, 23%);
  }

  ul li {
    list-style-type: none;
    position: relative;
    margin-bottom: 0.2rem;

    &::before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      font-size: 0.7rem;
      line-height: 0;
      content: '\f00c'; // check mark
      position: absolute;
      left: -1.1rem;
      top: 0.7rem;
    }
  }
}

// TIP
div.alert.alert-tip {
  color: darken($mosaic-green, 20%);
  background-color: lighten($mosaic-green, 54%);
  border-color: $mosaic-green;

  & > div:first-child::before {
    content: '\f06a';
    color: $mosaic-green;
  }
}

// NOTE
div.alert.alert-note {
  color: darken($mosaic-blue, 20%);
  background-color: lighten($mosaic-blue, 54%);
  border-color: $mosaic-blue;

  & > div:first-child::before {
    color: $mosaic-blue;
  }
}

// WARNING
div.alert.alert-warning {
  color: darken($mosaic-orange, 25%);
  background-color: lighten($mosaic-orange, 35%);
  border-color: $mosaic-orange;

  & > div:first-child::before {
    color: $mosaic-orange;
    left: -2.4rem;
  }
}
