@font-face {
  font-family: Lato;
  src: url(/css/webfonts/Lato-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(/css/webfonts/RobotoMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: RobotoMonoItalic;
  src: url(/css/webfonts/RobotoMono-Italic-VariableFont_wght.ttf);
}
