#search {
  div.logo {
    width: 100%;
    height: 80px;
    background-position: -21px -24px;
    background-repeat: no-repeat;
    background-size: 256px;
  }

  .col-search-close {
    position: relative;
    a.js-search {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
