@import "mosaic-helpers";

.footer-wrap {
  @extend .gradient-footer;
  color: #fff;
  padding: 0.3rem 0 0;

  a.back-to-top i,
  a {
    color: #fff;
  }

  footer.site-footer {
    margin: 0;
    font-size: 0.7rem;

    b {
      position: relative;
      display: inline-block;
      width: 100%;
      padding-bottom: 0.1rem;
      margin-bottom: 0.4rem;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background: #fff;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        .eclipse-logo {
          height: 2rem;
          padding: 0.2rem 0;
        }
      }
    }

    .powered-by {
      font-size: 0.6rem;
      color: rgba(255,255,255,.7);
      a {
        color: rgba(255,255,255,.7);
      }
    }
  }
}
