@import "mosaic-helpers";

// Footer on regular pages
.footer-wrap {
  @extend .gradient-footer;
  color: #fff;
  padding: 0.3rem 0 0;
  box-shadow: inset 0 14px 6px -10px rgba(255,255,255,0.3), 0 0 5px 0 rgba(0,0,0,0.45);

  a.back-to-top i,
  a {
    color: #fff;
  }

  footer.site-footer {
    margin: 0;
    font-size: 0.7rem;

    b {
      position: relative;
      display: inline-block;
      width: 100%;
      padding-bottom: 0.1rem;
      margin-bottom: 0.4rem;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background: #fff;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        a {
          font-weight: normal;
        }
        .eclipse-logo {
          height: 2rem;
          padding: 0.2rem 0;
        }
      }
    }

    .powered-by {
      font-size: 0.6rem;
      color: rgba(255,255,255,.7);
      a {
        color: rgba(255,255,255,.7);
      }
    }
  }
}

// Footer in documentation
.docs footer.site-footer {
  margin-left: -1.5rem;
  margin-top: 1rem;
  padding: 2rem 3rem 1.6rem;
  font-size: 0.7rem;
  background: #f2f2f7;
  width: calc(100% + 3rem);

  b {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 0.1rem;
    margin-bottom: 0.4rem;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #d9d9d9;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      margin: 0;
      list-style-type: none;
      a {
        font-weight: normal;
        color: $mosaic-navy;
      }
      .eclipse-logo {
        height: 2rem;
        padding: 0.2rem 0;
      }
    }
  }

  .powered-by {
    font-size: 0.6rem;
    color: rgba(0,0,0,.5);
    a {
      color: rgba(0,0,0,.5);
    }
  }
}
