@import "colors";

.tooltip {
  $bgColor: $mosaic-purple;
  $bgGradient: linear-gradient(-45deg, darken($mosaic-purple, 3%), $mosaic-purple);

  &.bs-tooltip-bottom .tooltip-arrow::before,
  &.bs-tooltip-auto[data-popper-placement^="bottom"] .tooltip-arrow::before {
    border-bottom-color: $bgColor;
  }
  .tooltip-inner {
    background-color: $bgColor;
    background-image: $bgGradient;
    font-size: 0.65rem;
  }
}
