ul.menu-overview {
  padding: 0;
  margin: 1rem -15px;

  & > li {
    list-style-type: none;
    margin-bottom: 2rem;
    display: flex;
    width: 100%;

    span.inner {
      @extend .mosaic-card-dark;
      padding: 1rem 1.3rem 4rem;
      width: 100%;
      position: relative;

      .title {
        display: block;
        font-weight: bold;
        font-size: 0.9rem;
        padding-bottom: 0.2rem;
      }

      .subtitle {
        img {
          margin: 0.3rem 0 0.7rem;
          border: 1px solid #ddd;
          border-radius: 0.2rem;
        }
        ul {
          padding-left: 0.9rem;
          li {
            list-style-type: disclosure-closed;
            &::marker {
              color: #777; //$mosaic-purple;
            }
          }
        }
      }

      .link-wrap {
        text-align: center;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: 1rem;
        a {
          margin: 0;
          position: relative;
          padding-left: 1.8rem;
          &::before {
            content: "»";
            font-size: 1.1rem;
            position: absolute;
            left: 1rem;
            top: 1rem;
            line-height: 0;
          }
        }
      }

      .details {
        display: block;
        text-align: right;
        background: #e1dce6;
        color: #424b5f;
        text-decoration: none;
        font-weight: bold;
        font-size: medium;
        margin: 1rem -1rem -0.7rem;
        margin-top: auto;
        padding: 0.4rem 1rem;
        border-top: 1px solid #d5c4d3;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;

        &::before {
          content: "» ";
          font-size: larger;
          color: #424b5f;
          transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
        }
      }
    }
  }
}
