.wg-projects {
  .projects {
    .project {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 2px dotted #ccc;
      &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .logo .view-list-item {
        width: 100%;
      }
      .text {
        h2 {
          font-size: 1.1rem;
          margin: 0 0 0.3rem 0;
        }
        h3 {
          font-size: 0.9rem;
          margin: 0 0 0.1rem 0;
        }
        .desc {
          font-size: 0.8rem;
        }
      }
      .buttons a {
        margin: 1rem 0.3rem 0;
      }
    }
  }
}
