.wg-portfolio {

  .projects-container {
    overflow: visible;
  }

  // View: 3 - Card
  .card {
    @extend .mosaic-card-dark;
    padding: 0;

    .card-image {
      margin: 2.2rem 2.6rem 0;
    }

    .card-text {
      padding: 0 1.3rem 1.3rem;
      p {
        color: inherit;
        font-size: 0.8rem;
      }
    }
  }

  // View: 4 - Showcase / Citation only
  .project-showcase {
    .project-item {
      margin-bottom: 4.5rem;
      h3 {
        font-size: 1.4rem;
        padding-bottom: 0.9rem;
      }
      img {
        border-radius: 0.7rem;
      }
      .article-metadata {
        margin-top: 0.7rem;
        padding-top: 0.5rem;
        border-top: 1px dotted #aaa;
      }
    }
  }
}
