.wg-text-image {
  .text-and-buttons p {
    font-size: 0.86rem;
  }

  .title {
    text-align: center;
    padding-bottom: 0.8em;
  }

  .buttons a.mosaic-btn {
    margin-top: 0;
    margin-bottom: 0;
  }
}
