<ul class="menu-overview row">
    {{ $currentPage := . }}
    {{ $menuName := .Get 0 }}
    {{ range $index, $menuItem := (index .Site.Menus $menuName) }}
        {{ $counter := add $index 1 }}
        <li class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <span class="inner">
                <span class="title">
                    <span class="counter">{{ $counter }}.&nbsp;</span>
                    {{ $menuItem.Name }}
                </span>
                {{- with $menuItem.Post -}}
                    <span class="subtitle">
                    {{- . | markdownify -}}
                    </span>
                {{- end -}}
                <span class="link-wrap">
                    <a href="{{ $menuItem.URL }}" title="{{ $menuItem.Name }}" class="mosaic-btn mosaic-btn-secondary btn-bottom">Learn more</a>
                </span>
            </span>
        </li>
    {{ end }}
</ul>
