{{ $item := . }}

{{/* Dynamic view adjusts to content type. */}}
{{ $link := $item.RelPermalink }}

<div class="changelog-item view-list-item row">
  <div class="col-4">
    {{ $date := dateFormat "2006 Jan 02" $item.Params.date }}
    <span class="date">{{ $date }}</span>
    <span class="dash">&nbsp;&mdash;&nbsp;</span>
    <a class="name" href="{{$link}}">{{ $item.Params.release.name }}</a>
  </div>
  <div class="col">
    <span class="title">{{ $item.Title }}</span>
  </div>
  <div class="col text-end">
    <a href="{{$link}}">
      <i class="fas fa-info-circle pub-icon" aria-hidden="true"></i>&nbsp;More details
    </a>
    &nbsp;&nbsp;&nbsp;
    <a href="{{ $item.Params.release.github_url | safeHTMLAttr }}" target="_blank" rel="noopener">
      <i class="fab fa-github pub-icon" aria-hidden="true"></i>&nbsp;Download
    </a>
  </div>
</div>
