{{ $key := .key | default false }}
{{ $data := .context.Site.Data.simulator_coupling }}
{{ if $key }}
  {{ $desc := index $data $key }}
  {{ with $desc }}
    {{ $is_extended := .is_extended | default false }}
    {{ $logo := "/img/logos/mosaic/EclipseMOSAIC-Logo-RGB-positiv.svg" }}
    {{ if $is_extended }}
      {{ $logo = "/img/logos/mosaic/MOSAICExtended-Logo-RGB-positiv.svg" }}
    {{ end }}
    {{ $disable_logo := .disable_logo | default false }}
    {{ $position := .position | default "bottom" }}
    <div class="desc-wrap {{ $key | safeHTMLAttr }} position-{{ $position | safeHTMLAttr }}">
      <div class="row">
        <div class="content col-8">
          <h3>{{ .title }}</h3>
        </div>
        <div class="col-4">
          {{ if not $disable_logo }}
            <div class="logo" style="background-image: url({{ $logo | relURL }});"></div>
          {{ end }}
        </div>
      </div>
      <div class="row">
        <div class="content col-12">
          <div class="text">{{ .text | markdownify | safeHTML }}</div>
          {{ if .url }}
            <div class="footer">
              <a class="mosaic-btn mosaic-btn-secondary" href="{{ .url | relURL }}"><i class="fa fa-book" aria-hidden="true"></i>Read more in Documentation</a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}
