{{ if (eq .Params.type "tutorials") }}
  <div class="post-nav prev-next-pages col-12">
    <div class="row">

      {{/* Previous tutorial */}}
      <div class="post-nav-item col-12 col-md-6">
        {{ range (where .Site.Menus.tutorials "Identifier" .Params.pagination_prev) }}
          <div class="meta-nav">{{ i18n "previous" }}</div>
          <a href="{{ .URL | safeURL }}" rel="next">{{.Name}}</a>
        {{ end }}
      </div>

      {{/* Previous tutorial */}}
      <div class="post-nav-item col-12 col-md-6 align-self-end">
        {{ range (where .Site.Menus.tutorials "Identifier" .Params.pagination_next) }}
          <div class="meta-nav">{{ i18n "next" }}</div>
          <a href="{{ .URL | safeURL }}" rel="next">{{.Name}}</a>
        {{ end }}
      </div>

    </div>
  </div>
{{ end }}
