// Override this file to add your own SCSS styling.
@import "mosaic/mosaic-helpers";
@import "mosaic/alert";
@import "mosaic/buttons";
@import "mosaic/docs";
@import "mosaic/site-footer";
@import "mosaic/svg";
@import "mosaic/tutorials";
@import "mosaic/wg-features-widget";
@import "mosaic/wg-hero";
@import "mosaic/wg-page-header";
@import "mosaic/wg-portfolio";
@import "mosaic/wg-text-image";
@import "mosaic/wg-text-card";

body {
  font-size: 0.9rem;
}

.navbar-brand img {
  max-height: 46px;
  height: 200px;
}

.article-style {
  font-size: 0.8rem;
}

a,
h3.article-title a {
  color: $mosaic-purple;
  &:hover {
    color: $mosaic-orange;
  }
}

a {
  font-weight: bold;
  color: #CF6B39;
  transition: all ease-in-out 0.1s !important;
  -webkit-transition: all ease-in-out 0.1s !important;
}
table a {
  color: $mosaic-purple;
}

nav a {
  color: $mosaic-navy;
  font-weight: normal;
}

nav a,
h3.article-title a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $mosaic-navy;
}

hr {
  height: 0;
}

.todo {
  background-color: yellow;
  border-radius: 2px;
  border: 1px solid red;
  padding: 2px 3px;

  &::before {
    content: "TODO: ";
    font-weight: bold;
    text-decoration: underline;
  }
}

body.page-docs #navbar-main > .container {
  max-width: 1700px;
}

@media only screen and (min-width: 1001px) {
  .universal-wrapper {
    width: 1200px;
  }
}

#navbar-main {
  background-color: #f8f4fb;

  .main-menu-item ul li .nav-link {
    color: $mosaic-navy;
    &.active {
      color: $mosaic-purple !important;
      text-decoration: underline;
    }
  }

  .navbar-icons .nav-item .nav-link {
    color: $mosaic-navy;
  }
}

.home-section {
  padding: 50px 0 70px;
}

.section-heading p {
  color: #817f88;
  font-style: italic;
}

.features .feature .feature-inner .image {
  width: 100%;
  text-align: center;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
