// Override this file to add your own SCSS styling.
@import "mosaic/mosaic-helpers";
@import "mosaic/buttons";
@import "mosaic/docs";
@import "mosaic/site-footer";
@import "mosaic/wg-features-widget";
@import "mosaic/wg-hero";
@import "mosaic/wg-page-header";
@import "mosaic/wg-text-image";
@import "mosaic/wg-text-card";

body {
  font-size: 0.9rem;
}

.navbar-brand img {
  max-height: 46px;
  height: 200px;
}

.article-style {
  font-size: 0.8rem;
}

a,
h3.article-title a {
  color: $mosaic-purple;
  &:hover {
    color: $mosaic-orange;
    //text-decoration: underline;
  }
}

nav a {
  color: $mosaic-navy;
}

nav a,
h3.article-title a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $mosaic-navy;
}

hr {
  height: 0;
}

.alert, div.alert > div {
  font-size: 0.7rem;
}

.todo {
  background-color: yellow;
  border-radius: 2px;
  border: 1px solid red;
  padding: 2px 3px;

  &::before {
    content: "TODO: ";
    font-weight: bold;
    text-decoration: underline;
  }
}

body.page-docs #navbar-main > .container {
  max-width: 1700px;
}

#navbar-main {
  background-color: #f8f4fb;

  .main-menu-item ul li .nav-link {
    color: $mosaic-navy;
    &.active {
      color: $mosaic-purple !important;
      text-decoration: underline;
    }
  }

  .navbar-icons .nav-item .nav-link {
    color: $mosaic-navy;
  }
}

.home-section {
  padding: 50px 0 70px;
}

.section-heading p {
  color: #817f88;
  font-style: italic;
}

ul.menu-overview {
  padding: 0;
  margin: 1rem -15px;

  li {
    list-style-type: none;
    margin-bottom: 1rem;
    display: flex;
    width: 100%;

    a.inner {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      flex: auto;
      flex-grow: 1;
      background-color: #f8f4fb;
      background-image: linear-gradient(0deg, #f8f4fb 0, #fff 100%);
      border: 1px solid #d7dce3;
      border-bottom: 3px solid #B5229F;
      border-radius: 3px;
      box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
      padding: 0.7rem 1rem;
      color: #424b5f;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;

      &:hover {
        transform: scale(1.04);
        text-decoration: none;
        background-color: #fff;
        box-shadow: 0 10px 20px -10px fade-out($color: $mosaic-navy, $amount: 0.2);

        .details {
          background: $mosaic-purple;
          color: #fff;

          &::before {
            color: #fff;
          }
        }
      }

      .title {
        display: block;
        font-weight: bold;
        font-size: 0.9rem;
        padding-bottom: 0.2rem;
      }

      .details {
        display: block;
        text-align: right;
        background: #e1dce6;
        color: #424b5f;
        text-decoration: none;
        font-weight: bold;
        font-size: medium;
        margin: 1rem -1rem -0.7rem;
        margin-top: auto;
        padding: 0.4rem 1rem;
        border-top: 1px solid #d5c4d3;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;

        &::before {
          content: "» ";
          font-size: larger;
          color: #424b5f;
          transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
        }
      }
    }
  }
}

.alert, div.alert > div {
  font-size: 0.7rem;
}

.features .feature .feature-inner .image {
  width: 100%;
  text-align: center;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
