{{ $ := .root }}
{{ $page := .page }}

{{ $alignment := ($page.Params.alignment | default "center") }}

<div class="row page-header">
  {{ if eq $alignment "center" }}
    {{ with $page.Params.logo }}
    <div class="row col-md-12 justify-content-center">
      <div class="col-md-6 section-heading">
        <img src="{{ . | safeHTMLAttr | relURL }}" {{ if $page.Params.logo_height }}height="{{ $page.Params.logo_height | safeHTMLAttr }}"{{ end }} {{ if $page.Params.logo_title }}title="{{ $page.Params.logo_title | safeHTMLAttr }}"{{ end }}>
      </div>
    </div>
    {{ end }}
    {{ if or $page.Title $page.Params.subtitle }}
    <div class="row col-md-12 justify-content-center">
      <div class="col-md-6 section-heading">
        {{ with $page.Title }}
        <h1>{{ . | markdownify | emojify }}</h1>
        {{ end }}
        {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
      </div>
    </div>
    {{ end }}

    {{ with $page.Content }}
    <div class="col-md-12">
      {{ . }}
    </div>
    {{ end }}

    {{ with $page.Params.button }}
    <div class="buttons row col-md-12 justify-content-center">
      {{ range $page.Params.button }}
        {{ if .title }}{{ if .url }}
          <div class="button col-md-3">
            <a class="mosaic-btn mosaic-btn-light" href="{{ .url | safeHTMLAttr | relURL }}" title="{{ .title | safeHTMLAttr }}">{{ .title }}</a>
          </div>
        {{ end }}{{ end }}
      {{ end }}
    </div>
    {{ end }}
  {{ else }}
    <div class="row col-md-12 justify-content-left alignment-left">
      <div class="col-8 justify-content-left">
        {{ with $page.Params.logo }}
        <div class="row col-md-12 justify-content-left page-header-logo">
          <img src="{{ . | safeHTMLAttr | relURL }}" {{ if $page.Params.logo_height }}style="height:{{ $page.Params.logo_height | safeHTMLAttr }};"{{ end }} {{ if $page.Params.logo_title }}title="{{ $page.Params.logo_title | safeHTMLAttr }}"{{ end }}>
        </div>
        {{ end }}
        {{ if or $page.Title $page.Params.subtitle }}
        <div class="row col-md-12 justify-content-right">
          <div class="col-md-8 text-left section-heading">
            {{ with $page.Title }}
            <h1>{{ . | markdownify | emojify }}</h1>
            {{ end }}
            {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-4 justify-content-right buttons">
        {{ with $page.Params.button }}
        {{ range $page.Params.button }}
          <div class="col-md-12 justify-content-right text-right">
          {{ if .title }}{{ if .url }}
            <a class="mosaic-btn mosaic-btn-light" href="{{ .url | safeHTMLAttr | relURL }}" title="{{ .title | safeHTMLAttr }}">{{ .title | safeHTML }}</a>
          {{ end }}{{ end }}
          </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  {{ end }}

  {{ with $page.Params.feature }}
  <div class="features row col-md-12 align-items-end justify-content-center">
    {{ $feature_col_width := $page.Params.feature_col_width | default "4" }}
    {{ range $page.Params.feature }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      <div class="feature col-md-{{ $feature_col_width }}">
        <div class="feature-inner {{ if and .link_title .link_url .link_feature }}is-linked-feature{{end}}">
          {{ if and .link_title .link_url .link_feature }}
          <a href="{{ .link_url | safeHTMLAttr | relURL }}" title="{{ .link_title | safeHTMLAttr }}" class="linked-feature">
          {{ end}}
            {{ with .icon }}
            <div class="page-header-icon">
              {{- if eq $pack "emoji" -}}
                {{- . | emojify -}}
              {{- else if eq $pack "custom" -}}
                {{- $svg_icon := resources.Get (printf "images/icon-pack/%s.svg" .) -}}
                {{- if $svg_icon -}}<img src="{{ $svg_icon.RelPermalink }}" alt="{{.}}" class="svg-icon svg-baseline">{{- end -}}
              {{- else -}}
                <i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i>
              {{- end -}}
            </div>
            {{ end }}
            <h3>{{ .name | markdownify | emojify }}</h3>
            {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
            {{ if and .link_title .link_url }}
              {{ if .link_feature }}
                <p class="feature-link">{{ .link_title }}</p>
              {{ else }}
                <a class="feature-link" href="{{ .link_url | safeHTMLAttr | relURL }}" title="{{ .link_title | safeHTMLAttr }}">{{ .link_title }}</a>
              {{ end }}
            {{ end }}
          {{ if and .link_title .link_url .link_feature }}
          </a>
          {{ end}}
        </div>
      </div>
    {{ end }}
  </div>
  {{ end }}

</div>

{{ if not (and $page.Params.button $page.Params.feature) }}
  <hr class="vertical-span" />
{{end}}
