<div class="container-fluid text-muted" style="margin-top: 1em;">

  <div class="row">
    <div class="col-md-3" style="margin-top: auto; margin-bottom: auto;">
      <a href="https://fokus.fraunhofer.de/en" class="view-list-item ml-3">
        <img src="{{ "/img/logos/fh_fokus-logo.png" | relLangURL }}" alt="Fraunhofer logo" class="member-logo" style="width:10rem;">
      </a>
      <a href="https://www.dcaiti.tu-berlin.de/" target="_blank" rel="noopener" class="view-list-item ml-3">
        <img src="{{ "/img/logos/dcaiti-logo.png" | relLangURL }}" alt="DCAITI" style="width:10rem;">
      </a>
    </div>
    <div class="col-md-9" style="color: #403b3b; margin-top:auto; margin-bottom:auto;">
      <b>Fraunhofer FOKUS</b> and <b>DCAITI (Daimler Center for Automotive IT Innovations)</b> developed this simulation platform, formerly known as VSimRTI, to support research in the field of connected and automated mobility for more than 12 years.
    </div>
  </div>
</div>

<div class="container-fluid text-muted" style="margin-top: 3em;">

  <div class="container">
    <div class="row">
      <div class="col-md-3" style="margin-top: auto; margin-bottom: auto;">
        <a href="https://openmobility.eclipse.org" class="view-list-item ml-3"><img src="{{ "/img/logos/open-mobility-logo.png" | relLangURL }}" alt="openMobility logo" style="width:8rem;"></a>
      </div>
      <div class="col-md-9" style="color: #403b3b; margin-top: auto; margin-bottom:auto;">
        The future of Eclipse MOSAIC is driven by several industry and academic partners in the <b>openMobility Working Group</b> at the Eclipse Foundation.
      </div>
    </div>
  </div>

  <div class="row js-layout-row" style="margin-top:3em; justify-content:center;">
    <a href="https://openmobility.eclipse.org/members/avl" class="view-list-item ml-3" style="margin-left:auto;margin-right:auto"><img src="{{ "/img/logos/avl-logo.png" | relLangURL }}" style="height:50px;"></a>
    <a href="https://openmobility.eclipse.org/members/bosch" class="view-list-item ml-3" style="margin-left:auto;margin-right:auto"><img src="{{ "/img/logos/bosch-logo.png" | relLangURL }}" alt="Bosch logo" class="member-logo" style="height:50px;"></a>
    <a href="https://openmobility.eclipse.org/members/dlr" class="view-list-item ml-3" style="margin-left:auto;margin-right:auto"><img src="{{ "/img/logos/dlr-logo.png" | relLangURL }}" alt="DLR logo" class="member-logo" style="height:50px;"></a>
    <a href="https://openmobility.eclipse.org/members/itemis" class="view-list-item ml-3" style="margin-left:auto;margin-right:auto"><img src="{{ "/img/logos/itemis-logo.png" | relLangURL }}" alt="Itemis logo" class="member-logo" style="height:50px;"></a>
    <a href="https://openmobility.eclipse.org/members/vector" class="view-list-item ml-3" style="margin-left:auto;margin-right:auto"><img src="{{ "/img/logos/vector-logo.png" | relLangURL }}" alt="Vector logo" class="member-logo" style="height:50px;"></a>
  </div>
</div>
