{{ range .page.Params.image_text_block }}
<div class="image-text-block row mb-4">
  <div class="image col-3 d-none d-md-block">
    <div class="row justify-content-center">
      {{ range .image }}
      <a href="{{ .url }}" class="view-list-item mb-3">
        {{ $width := .width | default "100%" }}
        <img class="mx-auto" src="{{ .file | relURL }}" alt="{{ .alt }}" width="{{ $width }}">
      </a>
      {{ end }}
    </div>
  </div>

  <div class="image col-12 d-block d-md-none mb-3">
    <div class="row justify-content-center">
      {{ range .image }}
      <div class="col-6">
        <a href="{{ .url }}" class="view-list-item mb-3">
          {{ $width := .width | default "100%" }}
          <img class="mx-auto" src="{{ .file | relURL }}" alt="{{ .alt }}" width="{{ $width }}">
        </a>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="text col-12 col-md-9">
    {{ .content | markdownify | safeHTML }}
  </div>
</div>
{{ end }}

<div class="partner-logos row js-layout-row justify-content-center mt-5">
  {{ $logo_height := .page.Params.logo_height | default "50px" }}
  {{ range .page.Params.logo }}
    <a href="{{ .url }}" class="view-list-item ml-4 mr-4 mb-4">
      <img src="{{ printf "/img/logos/%s" .logo | relURL }}" style="height: {{$logo_height}};">
    </a>
  {{ end }}
</div>
